

.VevaInfoMobile {
    display:none;
  width: 80%;
  height: 100%;
  margin: auto;
}
.card h1{
    font-weight:700;
    font-size:18px;
}
.card img{
    padding: 10px 0;
}

.card {
  text-align: start;
  font-size: 14px;
  padding: 20px;
  border-radius: 20px;
background: var(--4, #F2F4F7);
width: 370px;
height:auto;
  /* Center slide text vertically */
  display: flex;
  flex-direction:column;

  
}
@media only screen and (max-width: 650px){
    .VevaInfoMobile{
        display:block;
    }
    }
@media only screen and (max-width: 460px){
.card{
    width:300px;
}
}

@media only screen and (max-width: 380px){
    .card{
        width:250px;

    }
   
    }
   
    
    
    
    

